.item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: #222222;
  color: white;
  padding: 1rem;
  padding-left: 0.5rem;
  border-radius: 1rem;

  button {
    cursor: pointer;
    border: none;
    outline: none;
    border-width: 0;
    background-color: transparent;
  }

  .item {
    display: flex;
    align-items: center;

    span {
      font-size: 1rem;
      color: white;

      &.item-line-through {
        text-decoration: line-through;
      }
    }
  }
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #f472b6;
  border-radius: 1rem;
  margin-right: 0.75rem;

  &_done {
    background-color: #f472b6;
  }
}

.trash {
  cursor: pointer;
  color: white;
  transition: color 200ms ease;

  &:hover {
    color: #fca5a5;
  }
}
