.task_container {
  position: relative;
  display: flex;
  top: 15rem;

  .button_input {
    position: absolute;
    display: block;
    width: 5rem;
    background-color: transparent;
    color: #5b5b5b;
    border: none;
    top: 4rem;
    right: 1rem;
    font-size: 1rem;
    outline: none;

    &_active {
      color: #cbff10;
      cursor: pointer;
    }
  }
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #222222;

  input {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    color: white;
  }
}
